In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/shake50_word_topic_distribution.csv')

df.head()

,word,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,Topic 6,Topic 7,Topic 8,Topic 9,...,Topic 41,Topic 42,Topic 43,Topic 44,Topic 45,Topic 46,Topic 47,Topic 48,Topic 49,Topic 50
0,a,0.0,0.0,0.005179,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000004,0.0,0.0,0.0,0.0
1,abase,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,abides,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,abject,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,able,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000084,0.0,0.0,0.0,0.0

In [8]:
result_array = []

# Loop through each topic column
for topic_col in df.columns[1:]:  # Exclude the 'word' column, start from index 1
    topic_index = int(topic_col.split()[1])  # Extract the topic index from the column name
    
    # Find the words with probabilities in the current topic column
    words_with_probs = df[[topic_col, 'word']].sort_values(by=topic_col, ascending=False)
    
    # Find the most representative word with at least 5 letters
    for _, row in words_with_probs.iterrows():
        word = row['word']
        if len(word) >= 1:
            most_representative_word = word
            break  # Exit loop once we find a word with at least 5 letters
    
    # If no word with at least 5 letters is found, choose the word with the highest probability regardless of length
    else:
        most_representative_word = words_with_probs.iloc[0]['word']
    
    result_array.append((topic_index, most_representative_word))  # Append the topic index and the most representative word to the result array


# result_array now contains the most representative word for each topic
print(result_array)

[(1, 'a'), (2, 'a'), (3, 'france'), (4, 'a'), (5, 'a'), (6, 'a'), (7, 'a'), (8, 'a'), (9, 'a'), (10, 'a'), (11, 'a'), (12, 'a'), (13, 'a'), (14, 'a'), (15, 'a'), (16, 'caesar'), (17, 'a'), (18, 'a'), (19, 'a'), (20, 'a'), (21, 'thy'), (22, 'a'), (23, 'a'), (24, 'a'), (25, 'a'), (26, 'a'), (27, 'love'), (28, 'a'), (29, 'thou'), (30, 'a'), (31, 'hamlet'), (32, 'a'), (33, 'a'), (34, 'a'), (35, 'a'), (36, 'sir'), (37, 'a'), (38, 'a'), (39, 'a'), (40, 'a'), (41, 'a'), (42, 'a'), (43, 'a'), (44, 'a'), (45, 'a'), (46, 'thou'), (47, 'a'), (48, 'a'), (49, 'a'), (50, 'a')]

In [1]:

import os
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
import string

def preprocess(text):
    stop = set(stopwords.words('english'))
    exclude = set(string.punctuation)
    lemma = WordNetLemmatizer()
    stop_free = " ".join([word for word in text.lower().split() if word not in stop])
    punc_free = ''.join(ch for ch in stop_free if ch not in exclude)
    normalized = " ".join(lemma.lemmatize(word) for word in punc_free.split())
    return normalized

In [4]:
tri = 'This is a text about a e i o u how the hare caught a rabbit, a national geographic documentary. Just to check whether the conceived preprocessor function is working propoerly or not.'

preprocess(tri)

'text e u hare caught rabbit national geographic documentary check whether conceived preprocessor function working propoerly not'

In [3]:
import numpy as np
import pandas as pd

data = {
    'Document Title': ['Document1', 'Document2', 'Document3'],
    'Topic1': [0.8, 0.2, 0.4],
    'Topic2': [0.1, 0.5, 0.3],
    'Topic3': [0.1, 0.3, 0.3]
}
df = pd.DataFrame(data)
df.head()

  Document Title  Topic1  Topic2  Topic3
0      Document1     0.8     0.1     0.1
1      Document2     0.2     0.5     0.3
2      Document3     0.4     0.3     0.3